# Data Manipulation using Panda

## Data-Set Variable description

1) id1 - Wind speed
2) id2 - Nacelle position
3) id3 - Wind Direction
4) id11 - Generator Speed
5) id65 - Turbine Blade Angle1
6) id66 - Turbine Blade Angle2
7) id67 - Turbine Blade Angle3
8) id32 - Active Power
9) id39 - Ambient Temperature
10) id115 - Power Limitation
11) id118 - Time
12) id121 - Turbine state

In [31]:
import pandas as pd

In [32]:
## Importing data file

data = pd.read_csv('C:/Users/NITESH/Desktop/ESS/data.csv')

In [33]:
## Displaying data

data.head()

,id121,id1,id2,id3,id4,id5,id6,id7,id8,id9,...,id182,id183,id184,id185,id186,id187,id188,id189,id190,id191
0,5,2.80,145.05,-6.39,-0.05,1717.76,1717.76,1717.76,10783,172.29,...,1500_fr_v170715,xx40.3_fr_1500_v20170712,0,111170816,com_1500_std_v3.0.r0704,6.1,3.1,6.0,2,10
1,5,2.89,145.05,-6.57,-0.05,1717.76,1717.76,1717.76,10783,171.06,...,1500_fr_v170715,xx40.3_fr_1500_v20170712,0,111170816,com_1500_std_v3.0.r0704,6.1,3.1,6.0,2,10
2,5,2.67,146.28,-6.92,0.00,1717.76,1717.76,1717.76,10783,169.33,...,1500_fr_v170715,xx40.3_fr_1500_v20170712,0,111170816,com_1500_std_v3.0.r0704,6.1,3.1,6.0,2,10
3,5,2.88,147.51,-6.99,0.04,1717.76,1717.76,1717.76,10783,175.91,...,1500_fr_v170715,xx40.3_fr_1500_v20170712,0,111170816,com_1500_std_v3.0.r0704,6.1,3.1,6.0,2,10
4,5,2.90,147.51,-7.14,0.04,1717.76,1717.76,1717.76,10783,169.30,...,1500_fr_v170715,xx40.3_fr_1500_v20170712,0,111170816,com_1500_std_v3.0.r0704,6.1,3.1,6.0,2,10

In [34]:
# Displaying data shape

data.shape

(12106, 189)

In [35]:
# Filtering data for important variables

columns = ['id1','id2','id3','id11','id32','id118']
data=data[columns]

In [36]:
data.head()

    id1     id2   id3   id11   id32                 id118
0  2.80  145.05 -6.39  10.14  16.10  2018-03-21T00:00:01Z
1  2.89  145.05 -6.57   9.91  19.52  2018-03-21T00:00:06Z
2  2.67  146.28 -6.92   9.95  20.38  2018-03-21T00:00:14Z
3  2.88  147.51 -6.99   9.91  19.52  2018-03-21T00:00:21Z
4  2.90  147.51 -7.14   9.93  26.36  2018-03-21T00:00:28Z

In [37]:
# Changing column names for simplicity

data.columns=['wind_speed','nac_position','wind_direction','generator_speed','active_power','time']

In [38]:
data.head()

,wind_speed,nac_position,wind_direction,generator_speed,active_power,time
0,2.80,145.05,-6.39,10.14,16.10,2018-03-21T00:00:01Z
1,2.89,145.05,-6.57,9.91,19.52,2018-03-21T00:00:06Z
2,2.67,146.28,-6.92,9.95,20.38,2018-03-21T00:00:14Z
3,2.88,147.51,-6.99,9.91,19.52,2018-03-21T00:00:21Z
4,2.90,147.51,-7.14,9.93,26.36,2018-03-21T00:00:28Z

## Some tools to access data

1) data['variable name'] - Displays data of variables supplied
2) data.loc[row_name, colname] - Displays data corresponding to row name and column name
3) data.iloc[row_number, column_number]

In [39]:
data['wind_speed'].head()

0    2.80
1    2.89
2    2.67
3    2.88
4    2.90
Name: wind_speed, dtype: float64

In [40]:
data.loc[3,'wind_speed']

2.88

In [41]:
data.iloc[3,0]

2.88

In [42]:
# Converting time column to actual time stamp

data['time']=pd.to_datetime(data['time'])

In [43]:
data.head()

,wind_speed,nac_position,wind_direction,generator_speed,active_power,time
0,2.80,145.05,-6.39,10.14,16.10,2018-03-21 00:00:01
1,2.89,145.05,-6.57,9.91,19.52,2018-03-21 00:00:06
2,2.67,146.28,-6.92,9.95,20.38,2018-03-21 00:00:14
3,2.88,147.51,-6.99,9.91,19.52,2018-03-21 00:00:21
4,2.90,147.51,-7.14,9.93,26.36,2018-03-21 00:00:28

In [46]:
# Data Averaging using resample method, first coverting time column to index

data.index=data['time']

In [59]:
# Demonstrating the 5 minutes block average

data['wind_speed'].resample('5min').mean()[1:20]

time
2018-03-21 00:05:00    2.610952
2018-03-21 00:10:00    2.465714
2018-03-21 00:15:00    2.385000
2018-03-21 00:20:00    2.650732
2018-03-21 00:25:00    2.060000
2018-03-21 00:30:00    2.223810
2018-03-21 00:35:00    2.369048
2018-03-21 00:40:00    2.186829
2018-03-21 00:45:00    2.122381
2018-03-21 00:50:00    2.367143
2018-03-21 00:55:00    2.490952
2018-03-21 01:00:00    2.261667
2018-03-21 01:05:00    2.391667
2018-03-21 01:10:00    2.463810
2018-03-21 01:15:00    2.401190
2018-03-21 01:20:00    2.734762
2018-03-21 01:25:00    2.939070
2018-03-21 01:30:00    2.900000
2018-03-21 01:35:00    2.946667
Freq: 5T, Name: wind_speed, dtype: float64

In [61]:
# Any numerical column could be averaged, all that is required is a list of variables

data[['wind_speed','generator_speed','active_power']].resample('10min').mean()[1:20]

                     wind_speed  generator_speed  active_power
time
2018-03-21 00:10:00    2.425357         9.994286     10.011905
2018-03-21 00:20:00    2.348333         9.966071      9.484524
2018-03-21 00:30:00    2.296429         9.997500      6.766905
2018-03-21 00:40:00    2.154217         9.850000     -0.676867
2018-03-21 00:50:00    2.429048        10.027976      6.627143
2018-03-21 01:00:00    2.326667         9.996548      5.925952
2018-03-21 01:10:00    2.432500         9.994405      9.638810
2018-03-21 01:20:00    2.838118         9.967294     28.248235
2018-03-21 01:30:00    2.923333        10.014762     27.985238
2018-03-21 01:40:00    3.171548        10.005952     50.497857
2018-03-21 01:50:00    3.737381        10.070476     94.272024
2018-03-21 02:00:00    3.495476         9.970119     84.363690
2018-03-21 02:10:00    3.590241         9.967952     83.209880
2018-03-21 02:20:00    2.984048         9.993214     35.045238
2018-03-21 02:30:00    2.925714        10.011667     31.311786
2018-03-21 02:40:00    3.034706         9.992000     45.820353
2018-03-21 02:50:00    3.155238         9.989286     51.800119
2018-03-21 03:00:00    3.867412        10.517294    115.118118
2018-03-21 03:10:00    4.262857        12.081429    158.495833