# Data Manipulation using Panda

## Data-Set Variable description

1) id1 - Wind speed
2) id2 - Nacelle position
3) id3 - Wind Direction
4) id11 - Generator Speed
5) id65 - Turbine Blade Angle1
6) id66 - Turbine Blade Angle2
7) id67 - Turbine Blade Angle3
8) id32 - Active Power
9) id39 - Ambient Temperature
10) id115 - Power Limitation
11) id118 - Time
12) id121 - Turbine state

In [1]:
import pandas as pd

In [5]:
## Importing data file

data = pd.read_csv('C:/Users/NITESH/Desktop/ESS/data.csv')

In [6]:
## Displaying data

data.head()

,id121,id1,id2,id3,id4,id5,id6,id7,id8,id9,...,id182,id183,id184,id185,id186,id187,id188,id189,id190,id191
0,5,2.80,145.05,-6.39,-0.05,1717.76,1717.76,1717.76,10783,172.29,...,1500_fr_v170715,xx40.3_fr_1500_v20170712,0,111170816,com_1500_std_v3.0.r0704,6.1,3.1,6.0,2,10
1,5,2.89,145.05,-6.57,-0.05,1717.76,1717.76,1717.76,10783,171.06,...,1500_fr_v170715,xx40.3_fr_1500_v20170712,0,111170816,com_1500_std_v3.0.r0704,6.1,3.1,6.0,2,10
2,5,2.67,146.28,-6.92,0.00,1717.76,1717.76,1717.76,10783,169.33,...,1500_fr_v170715,xx40.3_fr_1500_v20170712,0,111170816,com_1500_std_v3.0.r0704,6.1,3.1,6.0,2,10
3,5,2.88,147.51,-6.99,0.04,1717.76,1717.76,1717.76,10783,175.91,...,1500_fr_v170715,xx40.3_fr_1500_v20170712,0,111170816,com_1500_std_v3.0.r0704,6.1,3.1,6.0,2,10
4,5,2.90,147.51,-7.14,0.04,1717.76,1717.76,1717.76,10783,169.30,...,1500_fr_v170715,xx40.3_fr_1500_v20170712,0,111170816,com_1500_std_v3.0.r0704,6.1,3.1,6.0,2,10

In [11]:
# Displaying data shape

data.shape

(12106, 189)

In [13]:
# Filtering data for important variables

columns = ['id1','id2','id3','id11','id32','id118']
data=data[columns]

In [17]:
data.head()

    id1     id2   id3   id11   id32                 id118
0  2.80  145.05 -6.39  10.14  16.10  2018-03-21T00:00:01Z
1  2.89  145.05 -6.57   9.91  19.52  2018-03-21T00:00:06Z
2  2.67  146.28 -6.92   9.95  20.38  2018-03-21T00:00:14Z
3  2.88  147.51 -6.99   9.91  19.52  2018-03-21T00:00:21Z
4  2.90  147.51 -7.14   9.93  26.36  2018-03-21T00:00:28Z

In [19]:
# Changing column names for simplicity

data.columns=['wind_speed','nac_position','wind_direction','generator_speed','active_power','time']

In [20]:
data.head()

,wind_speed,nac_position,wind_direction,generator_speed,active_power,time
0,2.80,145.05,-6.39,10.14,16.10,2018-03-21T00:00:01Z
1,2.89,145.05,-6.57,9.91,19.52,2018-03-21T00:00:06Z
2,2.67,146.28,-6.92,9.95,20.38,2018-03-21T00:00:14Z
3,2.88,147.51,-6.99,9.91,19.52,2018-03-21T00:00:21Z
4,2.90,147.51,-7.14,9.93,26.36,2018-03-21T00:00:28Z

## Some tools to access data

1) data['variable name'] - Displays data of variables supplied
2) data.loc[row_name, colname] - Displays data corresponding to row name and column name
3) data.iloc[row_number, column_number]

In [26]:
data['wind_speed'].head()

0    2.80
1    2.89
2    2.67
3    2.88
4    2.90
Name: wind_speed, dtype: float64

In [27]:
data.loc[3,'wind_speed']

2.88

In [28]:
data.iloc[3,0]

2.88